@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Bold.otf') format('truetype');
    font-weight: 900;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #000000;
}

.title-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 64px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    color:  #9C27B0;
    width: 400px;
}

.player-container{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.player-container h1{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 30px;
}

.player-container p{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.btn{
    width: 100px;
    height: 120px;
    background: none;
    border-radius: 10px;
}

.btn:hover{
    background: #E5E5E5;
    transition: .2s ease-in-out;
}

.results, .finalResults{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: forestgreen;
    font-weight: 500;
}

.scores{
    margin-top: 20px;
}

.scores span{
    margin-left: 15px;
    font-size: 18px;
    line-height: 21px;
}

.playAgain{
    padding: 9px 27px;
    background: #9C27B0;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 30px;
}

.playAgain:hover{
    opacity: 0.8;
    transition: .2s ease-in-out;
}

@media(max-width: 768px){
    .title{
        font-family: 'Inter';
        font-weight: 900;
        font-size: 48px;
        line-height: 80px;
        width: 300px;
    }

    .btn{
        width: 80px;
        height: 100px;
    }

    .player-container h1{
        font-size: 36px;
        line-height: 37px;
    }
}

@media(max-width: 580px){
    body{
        flex-direction: column;
        gap: 80px;
    }
    .title{
        width: 100%;
        font-size: 30px;
        line-height: 40px;
        font-weight: 400px;
    }
    .title-container, .player-container{
        flex: 0;
    }

    .player-container{
        background: none;
    }

    .player-container h1{
        font-size: 30px;
        line-height: 36px;
    }

    

    
}
